version: '3.8'

services:
    app:
        build:
            context: .
            dockerfile: Dockerfile
        image: laravel-app
        container_name: laravel-app
        ports:
            - "10001:8000"
        volumes:
            - .:/var/www
            - /var/www/vendor
            - /var/www/node_modules
        working_dir: /var/www
        command: php artisan serve --host=0.0.0.0 --port=8000
    mysql:
        image: mysql:8.0
        container_name: mysql
        restart: always
        environment:
            MYSQL_ROOT_PASSWORD: password
            MYSQL_DATABASE: ranking
        ports:
            - "50001:3306"
